body {
  margin-top: 2em;
  background-color: black;
}

.btn {
  border-radius: 0px;
  font-weight: bold;
}

.panel {
  border-radius: 0;
  margin-bottom: 0;
}

.list-group-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

.panel-footer {
  padding-top: 3px;
  padding-bottom: 3px;
}